.header-contents{
    padding: 10px 100px;
    background-color: black;
     color: white;
}

.first-header{
    display: flex;
    justify-content: space-between; 
}
.first-header1{
    display: flex;
    gap: 50px;
}
.first-header1 img{
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
}
.liftImg1{
    display: flex;
}
.liftImg2{
    display: flex;
}

.first-header2 a{
    text-decoration: none;
    gap: 20px;
    color: white;
}
.first-header2{
    gap: 20px;
}

.second-header{
    display: flex;
    gap: 150px;
}
.second-header2{
    display: flex;
}
.second-header2 input{
    padding: 20px;
    width: 500px;
    margin-top: 20px;
}
.second-header2 img{
    height: 30px;
    width: 30px;
}
.second-header2 button{
    height: 60px;
    margin-top: 20px;
    background-color: goldenrod;
}
.second-header3{
    display: flex;
    gap: 30px;
    margin-left: 50px;
}
.second-header3 img{
    height: 30px;
}
.second-header3 a{
    text-decoration: none;
    color: white;
}

.rigging a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.rigging{
    padding: 20px 50px;
    background-color: floralwhite;
}
.shop{
    background-color: darkorange;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.shop a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#second-section{
    background: url("./images/lifting1.webp");
    background-position: center;
    color: white;
    height: 400px;
}
.hoists{
    padding: 50px;
    font-size: 30px;
}
.hoists button{
    background-color: goldenrod;
    padding: 20px;
    border-radius: 10px;
}
.hoists a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: center;
}
.hoists img{
    width: 15px;

}

#third-section{
    padding: 100px;
}

.card-container{
    display: flex;
    gap: 50px;
}
.card-container img{
    border-bottom: 1px solid goldenrod;
}
.card-container1{
    border: 1px lightgray solid;
    padding: 20px;
}
.card-container1 img{
    height: 200px;
}
.card-container2{
    border: 1px lightgray solid;
    padding: 20px;
}
.card-container2 img{
    width: 200px;
}
.card-container3{
    border: 1px lightgray solid;
    padding: 20px;
}
.card-container3 img{
    height: 200px;
}
.card-container4{
    border: 1px lightgray solid;
    padding: 20px;
}
.card-container4 img{
    height: 200px;
}
.card-container5{
    border: 1px lightgray solid;
    padding: 20px;
}
.card-container5 img{
    height: 200px;
    border-bottom: 1px solid goldenrod;
}

#sixth-section{
    background: url("./images/train_lifting.webp");
}
.train-lift{
    width: 30%;
    padding: 20px 40px;
    background-color: goldenrod;
    margin-left: 100px;
}
.truck-lift{
    height: 30px;
    margin-top: 20px;
}
.speed{
    display: flex;
    gap: 20px;
}
.speed-dial2{
    margin-top: px;
}

.black-arrow{
    width: 20px;
}
.combined{
    display: flex;
    gap: 30px;
}
.email-us{
    display: flex;
    gap: 20px;
    border-left: 1px black solid;
}
.email-image{
    margin-top: 20px;
    margin-left: 10px;
}
.email-us2 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.industry-fav{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.industry-fav button{
    padding: 20px;
    background-color: orange;
    width: 100%;
    color: white;
    border-color: orange;
}
.industry-fav button:hover{
    background-color: darkorange;
}
.industry-fav p{
    color: red;
    font-size: 20px;
}
.industry-fav img{
    height: 250px;
    width: 350px;
}

.general{
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.major{
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.commander{
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.buy-rig{
    height: 450px;
    width: 200px;
    border: 1px solid lightgray;
    padding: 10px;
}
.rig-hoist{
    border-bottom: 1px solid black;
}
.buy11{
    display: flex;
    justify-content: space-between;
}
.favorites {
    height: 20px;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-left: 180px;
}
.buy11 a{
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
}
.buy1 p{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#fifth-section{
    padding: 50px;
} 

.slide-bg{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-container{
    position: relative;
    width: 60%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
.slider{
    display: flex;
    transition: 0.4s ease-in-out transform;
}
.slide{
    min-width: 100%;
    height: 500px;
    transition: 0.5s transform ease-in-out;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.dots-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dot.active{
    background-color: rgba(255, 255, 255, 1);
}

.slider-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.slider-price p{
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.slider-price a{
    text-decoration: none;
    background-color: aqua;
    padding: 15px;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
}